        
        body {
            background-color: lightyellow;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /*position: relative;
            width: 960px;*/
        }

        h1 {
            color: black;
            text-align: center;
        }

        p {
            font-family: verdana;
            font-size: 20px;
        }

        ol {
            font-family: verdana;
            font-size: 20px;
        }

        /*settings for the axes in the figures*/
        .axis text {
            font: 10px sans-serif;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .tooltip {
            position: absolute;
            width: 200px;
            height: 28px;
            pointer-events: none;
          }